@charset 'utf-8';

/*Fonts*/
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*Font Icons*/
@font-face {
    font-family: 'rxicons';
    src: url('../fonts/icons/rxicons.ttf?60tdom') format('truetype'), url('../fonts/icons/rxicons.woff?60tdom') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="rxicon-"], [class*=" rxicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rxicons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rxicon-icon-facility-probability:before {
    content: "\e904";
}

.rxicon-icon-germination-seed:before {
    content: "\e905";
}

.rxicon-icon-labor-efficiency:before {
    content: "\e906";
}

.rxicon-icon-plant-quality:before {
    content: "\e907";
}

.rxicon-icon-site-capacity:before {
    content: "\e908";
}

.rxicon-icon-account:before {
    content: "\e900";
}

.rxicon-icon-mytasks:before {
    content: "\e901";
}

.rxicon-icon-greenhouse-control:before {
    content: "\e902";
}

.rxicon-icon-dashboard:before {
    content: "\e903";
}

/*General*/
html {
    font-size: 18px;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    line-height: 26px;
    color: #505050;
    background: #f4f6fa;
}

.has__footer {
    position: relative;
    padding-bottom: 160px;
    min-height: 100vh;
}

a,
a:hover,
a:focus,
.site__transition,
button {
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a, span, label {
    display: inline-block;
}

select:focus {
    outline: none;
}

/*Utilities*/
.dark__bg {
    background: #2a2a2a;
}

.blue_txt {
    color: #20b2e5;
}

.navy_txt {
    color: #003054;
}

.dark_txt {
    color: #2a2a2a;
}

/*Font Styles*/
.robotobold {
    font-family: 'roboto-bold', sans-serif;
}

.robotomd {
    font-family: 'roboto-medium', sans-serif;
}

h2 {
    font-size: 28px;
    font-family: 'roboto-medium', sans-serif;
}

/*Buttons*/
.bttn {
    font-family: 'roboto-medium', sans-serif;
    padding: 14px 30px;
    border: 0px solid;
    font-size: 16px;
    border-radius: 10px;
    background-color: #e1e1e1;
    color: #505050;
    text-align: center;
    outline: none;
    border-radius: 15px;
}

    .bttn:focus {
        outline: none;
    }

.bttn-link {
    font-size: 16px;
    color: #2a2a22;
}

    .bttn-link:hover {
        color: #438644;
    }

.bttn-primary, .bttn:hover, .bttn.active {
    background: #488949;
    color: #ffffff;
}

    .bttn-primary:hover, .bttn.active:hover {
        background: #366a37;
    }

.site__container {
    padding-left: 45px;
    padding-right: 45px;
}

/*Header*/
header {
    background: #ffffff;
    padding-top: 22px;
    padding-bottom: 22px;
}

.account__dropdown img {
    max-width: 55px;
    height: auto;
    border-radius: 100%;
    margin-right: 15px;
}

.account__dropdown .account__user {
    font-size: 18px;
    color: #2a2a2a;
    margin-right: 10px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

    .dropdown-toggle::after {
        font-family: 'FontAwesome';
        content: "\f107";
        border: 0;
        color: transparent;
        background-image: url('../images/icon-dropdown.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 11px;
    }

.dropdown-item:not(:hover):focus {
    background: transparent;
}

.dropdown-item.active, .dropdown-item:active {
    background: #438644;
}

.header__tabs li {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.custom__dropdown, .filter__control, .input__control {
    font-size: 16px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 28px;
    border-radius: 15px;
    border: 1.5px solid #c8e0c9;
}

.custom__dropdown {
    color: #2a2a2a;
    -webkit-appearance: none;
    background-image: url('../images/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 28px center;
    background-size: 11px;
}

.filter__control:focus, .input__control:focus {
    outline: none;
}

.header__bottom .custom__dropdown {
    max-width: 401px;
}

.header__bottom {
    margin-top: -76px;
}

    .header__bottom + .main {
        margin-top: 70px;
    }

/*Footer*/
.floating__footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

    .floating__footer ul {
        display: inline-flex;
        margin-bottom: 0;
        padding: 19px 20px;
        border-radius: 50px;
    }

        .floating__footer ul li:not(:first-child) {
            margin-left: 20px;
        }

    .floating__footer a {
        display: flex;
        align-items: center;
        padding: 18px 36px;
        color: rgba(255, 255, 255, 0.4);
        border-radius: 30px;
    }

        .floating__footer a.active, .floating__footer a:hover {
            color: rgba(255, 255, 255, 1);
            background: rgba(255, 255, 255, 0.1);
        }

    .floating__footer i {
        font-size: 26px;
        margin-right: 22px;
    }

/*Dashboard*/
.dashboard__row {
    margin-top: 60px;
    padding-bottom: 30px;
}

.dashboard__block {
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 35px;
}

    .dashboard__block h2 {
        color: #2a2a2a;
    }

.dashboard__matrix {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 30px 22px;
}

    .dashboard__matrix:not(:last-child) {
        margin-right: 44px;
    }

.dashborad__stats {
    font-size: 42px;
    width: 110px;
    height: 110px;
    flex: 0 0 110px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    margin-right: 22px;
}

.stats--germination-seed {
    background: rgba(67,134,68, 0.1);
}

.stats--plant-quality {
    background: rgba(149,192,86,0.1);
}

.stats--facility-probability {
    background: rgba(16, 115,158, 0.1);
}

.stats--labor-efficiency {
    background: rgba(35,68, 93, 0.1);
}

.stats--site-capacity {
    background: rgba(26,178,201,0.1);
}

.dashborad__stats .rxicon-icon-germination-seed {
    color: #438644;
}

.dashborad__stats .rxicon-icon-plant-quality {
    color: #95c056;
}

.dashborad__stats .rxicon-icon-facility-probability {
    color: #10739e;
}

.dashborad__stats .rxicon-icon-labor-efficiency {
    color: #23445d;
}

.dashborad__stats .rxicon-icon-site-capacity {
    color: #1ab2c9;
}

.dashboard__matrixdetail h3 {
    font-size: 45px;
    margin-bottom: 0px;
}

.dashboard__matrixdetail span {
    color: #808080;
    font-size: 16px;
}

.dashboard__links {
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dashboard__task {
    position: relative;
    color: #ffffff;
}

    .dashboard__task:hover {
        color: #ffffff;
    }

    .dashboard__task:nth-child(n+2) {
        margin-bottom: 12px;
    }

    .dashboard__task span {
        font-family: 'roboto-medium', sans-serif;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
    }

.block__head + .activity__graph {
    margin-top: 35px;
    overflow: hidden;
}

.graph__mark {
    position: relative;
    min-width: 36px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
    color: #808080;
}

    .graph__mark:empty {
        height: 30px;
    }

.graph__yaxis {
    margin-right: 68px;
}

    .graph__yaxis .graph__mark:not(:last-child)::before {
        content: "";
        position: absolute;
        left: calc(100% + 12px);
        height: 1px;
        background: #f1f1f1;
        width: 1000px;
        top: 8px;
    }

.graph__bar + .graph__bar:not(:last-child) {
    flex: 1 0 25%;
}

.graph__bar:last-child {
    margin-right: 68px;
}

.graph__bar--line {
    position: relative;
    width: 6px;
    height: calc(100% - 80px);
    top: 8px;
    border-radius: 5px;
    background-color: #e4e4ed;
}

.graph__bar--today {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    border-radius: 5px;
    background: #21b4cb;
}

.graph__bar--week {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    border-radius: 5px;
    background: #23445d;
}

.graph__xaxis {
    margin-top: 38px;
    transform: translateX(-50%);
    text-align: center;
    color: #2a2a2a;
    font-family: 'roboto-medium', sans-serif;
}

/*Filter Row*/
.filter__row {
    margin-top: 34px;
}

    .filter__row .filter__control {
        width: auto;
    }

    .filter__row > .filter__control:not(.bttn) {
        flex: 0 0 300px;
    }

.filter__control + * {
    margin-left: 20px;
}

.filter__control:not(.filter__bttn) {
    color: #808080;
    font-size: 16px;
}

.filter__bttn {
    flex-basis: 150px;
    min-width: 150px;
}

.filter__search {
    background-image: url('../images/icons/icon-search.svg');
    background-position: left 24px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 58px;
}

/*Data Table*/
.filter__row + .data__table {
    margin-top: 30px;
}

.data__table table {
    width: 100%;
}

.data__table th {
    font-family: 'roboto-bold', sans-serif;
    color: #2a2a2a;
    background: #ffffff;
}

.data__table th, .data__table td {
    border: 1px solid #d7d7d7;
    padding: 20px;
}

.data__table .bttn-action {
    border-radius: 5px;
    width: 113px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.data__table tr:nth-child(odd) {
    background-color: #ffffff;
}

.dashboard__paging {
    margin-top: 30px;
}

    .dashboard__paging li:first-child {
        margin-right: 15px;
    }

    .dashboard__paging li:last-child {
        margin-left: 15px;
    }

    .dashboard__paging a {
        color: #2a2a2a;
    }

.paging__bttn {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    text-align: center;
}

.paging__current .paging__bttn {
    background: #438644;
    color: #ffffff;
    border-color: #438644;
}

/*Assign Task Form*/
.dashboard__block--asign {
    margin-top: 35px;
}

    .dashboard__block--asign h3 {
        font-family: 'roboto-medium', sans-serif;
        font-size: 24px;
        margin-bottom: 25px;
    }

/*Login Page*/
.login__page {
    background: #ffffff;
}

.login__container {
    position: relative;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

    .login__container::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: url('../images/login-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login__container h1 {
        font-family: 'roboto-bold', sans-serif;
        font-size: 35px;
        color: #2a2a2a;
        margin-top: 70px;
    }

    .login__container form {
        margin-top: 50px;
        text-align: left;
        width: 500px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

        .login__container form label {
            display: block;
            margin-bottom: 30px;
        }

    .login__container label h3 {
        font-family: 'roboto-medium', sans-serif;
        font-size: 18px;
        margin-bottom: 16px;
        color: #2a2a2a;
    }

    .login__container form .bttn-action {
        margin-top: 10px;
    }

.input__control-icon {
    background-position: left 24px center;
    background-size: 21px;
    background-repeat: no-repeat;
    padding-left: 58px;
}

    .input__control-icon[type="text"] {
        background-image: url('../images/icons/icon-user.svg');
    }

    .input__control-icon[type="password"] {
        background-image: url('../images/icons/icon-password.svg');
    }

/*Media Queries*/
@media only screen and (min-width: 1368px) {
    .container {
        width: 1332px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1839px) {
    .has__footer {
        padding-bottom: 140px;
    }

    .custom__dropdown, .filter__control, .input__control {
        height: 50px;
        line-height: 50px;
        border-radius: 10px;
    }

    .bttn {
        border-radius: 10px;
    }

    .dashboard__block {
        border-radius: 15px;
    }

    .dashborad__stats {
        font-size: 28px;
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        line-height: 60px;
        margin-right: 15px;
    }

    .dashboard__matrix {
        padding: 15px;
    }

    .dashboard__matrixdetail h3 {
        font-size: 35px;
    }

    .graph__yaxis {
        margin-right: 40px;
    }

    .graph__bar:last-child {
        margin-right: 0;
    }

    .dashboard__matrix:nth-child(3) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .dashboard__matrix:not(:last-child) {
        margin-right: 25px;
    }

    .matrixdetail-subtitle {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background: #e7f1f5;
        border-radius: 0px 0px 10px 10px;
        z-index: -1;
    }

    .floating__footer ul {
        padding: 12px 14px;
    }

    .floating__footer a {
        border-radius: 30px;
        padding: 15px 25px;
    }

    .floating__footer i {
        margin-right: 12px;
    }

    .logo-link--vertical img {
        max-width: 180px;
    }

    .login__container h1 {
        margin-top: 50px;
    }

    .login__container form {
        margin-top: 30px;
    }

    .dashboard__matrixdetail span:not(.matrixdetail-subtitle) {
        line-height: 20px;
    }

    .filter__bttn {
        min-width: 110px;
        flex-basis: 110px;
    }
}

@media only screen and (max-width: 1499px) {
    .header__bottom .custom__dropdown {
        max-width: 330px;
    }

    .data__table th, .data__table td {
        padding: 10px 15px;
    }

    .dashboard__block:not(.dashboard__matrix) {
        padding: 25px;
    }
}
