@font-face {
  font-family: 'rxicons';
  src:  url('fonts/rxicons.eot?60tdom');
  src:  url('fonts/rxicons.eot?60tdom#iefix') format('embedded-opentype'),
    url('fonts/rxicons.ttf?60tdom') format('truetype'),
    url('fonts/rxicons.woff?60tdom') format('woff'),
    url('fonts/rxicons.svg?60tdom#rxicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rxicon-"], [class*=" rxicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rxicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rxicon-icon-facility-probability:before {
  content: "\e904";
}
.rxicon-icon-germination-seed:before {
  content: "\e905";
}
.rxicon-icon-labor-efficiency:before {
  content: "\e906";
}
.rxicon-icon-plant-quality:before {
  content: "\e907";
}
.rxicon-icon-site-capacity:before {
  content: "\e908";
}
.rxicon-icon-account:before {
  content: "\e900";
}
.rxicon-icon-mytasks:before {
  content: "\e901";
}
.rxicon-icon-greenhouse-control:before {
  content: "\e902";
}
.rxicon-icon-dashboard:before {
  content: "\e903";
}
